* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

body {
    background-color: #D9E5F3;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

nav {
    height: 50px;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    box-shadow: 0px 4px 11px #133f757d;
   
    background-color: white;
    margin-bottom: 50px;
    /* padding: 30px 0; */

}

.wrapper ul {
    display: flex;
    gap: 25px;
    font-size: 25px;
    padding: 10px 0px;
}
.wrapper{
    display: flex;
    height: 100%;
    gap: 50px;
    justify-content: space-between;
}
.wrapper .logo img{
    height: 100%;
}
img{
    max-width: 100%;
}
.wrapper li {
    color: #133F75;
    transition: all 200ms;
}

li:hover{
    transform: scale(1.1);
   border-bottom: 1px solid #133F75;

}

.background{
    padding: 30px 0;
   
}
.img-wide {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.signup-form{
    padding: 50px 0;
    text-align: center;
}

.form_input{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    gap: 20px;
    line-height: 25px;
    padding: 40px 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #133F75;
    align-items: center;


}
.signup-form h2{
    margin-bottom: 20px;
    color: #133F75;
}

.form_input input {
    line-height: 30px;
    padding: 5px 12px ;
    margin-bottom: 10px;
    background-color: white;
    border:1px solid #133F75;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    width: 80%;
    
}

.button{
    /* height: 35px; */
    font-size: 22px;
    color: white;
    background-color:#0057FF;
    padding: 20px 0;
    text-align: center;
    border: none;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    transition: all 500ms;
}

.button:hover{
    transform: scale(0.9);

}

.register{
    font-weight: 600;
    text-decoration: underline;
}
.login{
    text-decoration: underline;
}

.logo{
    margin: 6px 0;
}

.login_welcome{
    color:#133F75;
    font-size: 26px;
    text-align: center;
    font-weight: 600;
    
}

.row{
    display: flex;
    gap: 20px;

}
.col{
    width: calc(100% / 3);
}

.card{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #133F75;
    gap: 20px;
}

.card .button{
    height: 40px;
    padding: 0;
    border-radius: 4px;

}

.card_wrapper{
    margin-top: 60px;
}